.profile {
  display: flex;
  flex-direction: column;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__frame {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 10px 16px 20px;
  padding: 5px 38px;
  background: linear-gradient(to right, #88bbce, #408199ca);
  border-radius: 40px;
}

.profile__picture_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 16px;
  pointer-events: none;
}

.profile__name {
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 15px;
  user-select: none;
  word-break: break-all;
}

.profile__container {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #88bbcee8, #408199);
  padding: 20px;
  width: 68%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 20px;
}

.profile__data {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.profile__label {
  text-align: left;
  margin-right: 10px;
  font-size: 19px;
  font-family: "Helvetica";
  display: inline-block;
  text-align: start;
  flex-shrink: 0;
  width: 200px;
}

.customFileButton {
  margin-top: 5px;
  display: inline-block;
  padding: 3px 10px;
  background-color: #2b738d9e;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.customFileButton input {
  display: none;
}

.profile__input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  min-width: 100px;
}

.profile__button {
  padding: 8px 16px;
  background-color: #2b738d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.profile__button:hover {
  background-color: #1a4758;
}

.profile__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1a4758;
}

.profile__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.profile__button:disabled:hover {
  background-color: #ccc;
}

.subscription__data,
.subscribers__data {
  margin-left: 20px;
}

.subscription_btn,
.subscribers_btn {
  width: 250px;
  height: 70px;
  padding: 10px 10px;
  background-color: #2b738d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.subscription_btn:hover,
.subscribers_btn:hover {
  background-color: #1a4758;
}

.subscription_btn:focus,
.subscribers_btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1a4758;
}

.subscription_btn:disabled,
.subscribers_btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.subscription_btn:disabled:hover,
.subscribers_btn:disabled:hover {
  background-color: #ccc;
}

.subscription_and_subscribers__data {
  display: flex;
  flex-direction: column;
}

.subscription__stop_out {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-bottom: 10px;
  font-size: 20px;
  user-select: none;
}

@media (max-width: 768px) {
  .profile__container {
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    width: 90%;
    margin-left: 0;
    margin-top: 20px;
  }

  .profile__label {
    text-align: start;
    width: auto;
  }

  .profile__data {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile__input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .profile__container {
    min-width: 320px;
  }

  .profile__info {
    min-width: 320px;
  }
  .profile__frame {
    display: flex;
    flex-direction: column;
  }
  .profile__name {
    align-self: center;
    margin-bottom: 0;
  }
}
