.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }
  
  .subscription_list__get_subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #f0f9fc;
  border-radius: 5px;
  width: 350px;
  height: 80px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  }
  
  .subscription:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .subscription_header__nav_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  }
  
  .subscription_header__nav_link:hover {
  text-decoration: none;
  }
  
  .profile__picture {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  }
  
  .subscription__username {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  padding-left: 15px;
  }